<div style="width: 100%; height: 800px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<br>
<br>
<div class="container" id="bg-cards">
  <div class="row map-cards">
    <% @shelters.each do |shelter| %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card-shelter">
          <div class="card-shelter-infos">
            <%= cl_image_tag shelter.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="mark">
            <% @favourite_shelter.each do |favourite| %>
              <% if (favourite.shelter == shelter) %>
                <i class="fa-solid fa-hand-holding-heart" aria-describedby="info">
                </i>
                <div role="tooltip" id="info">
                <p>you're already donating to this shelter!</p>
              </div>
              <% end %>
            <% end %>

            </div>

            <h2> <%= shelter.name %> </h2>
              <em><i class="fas fa-map-marker-alt point"></i><%= shelter.address %> </em>
            <p> <%= shelter.description %> </p>
            <div class="d-flex shelter-buttons">
              <div class="p-2"><%= link_to "Donate", new_shelter_pet_path(shelter), class:"secondary-button" %></div>
              <div class="p-2"><%= link_to "Discover", new_shelter_pet_path(shelter), class:"tertiary-button" %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
