<div class="container">
  <div class="register-container">
    <h2>Register</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    input_html: { autocomplete: "Full name" }%>
        <%= f.input :avatar, as: :file %>
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Username" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Register", class:"sign-up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links", class:"text-center"%>
    <div class="register-buttons">
      <p class="text-center">Or register with:</p>
      <div class="buttons-log">
        <button class="social-button google"><i class="fab fa-google"></i></button>
        <button class="social-button facebook"><i class="fab fa-facebook"></i></button>
        <button class="social-button apple"><i class="fab fa-apple"></i></button>
      </div>
    </div>
  </div>
</div>
