<div class="container d-flex m-auto">
<div class="d-flex create-pet-container flex-column justify-content-center align-self-center m-auto">

  <div class="d-flex justify-content-center py-5">
    <h1>Let's adopt a virtual pet!</h1>
  </div>
  <%= simple_form_for [@shelter, @pet], defaults: { label: false } do |f| %>
  <div
   class="d-flex pet-form p-2"
   data-controller="sounds"
   data-sounds-cat-value=<%= audio_url("cat-sound.mp3")%>
   data-sounds-dog-value=<%=  audio_url("dog-sound.mp3")%> >
    <i class="fa-solid fa-paw p-2"></i>
    <h5 class="p-2"> Choose your pet: </h5>
    <%= f.input_field :species, as: :radio_buttons,
      collection: [['0', (image_tag "shiba 1.png", alt: "Dog", class:"photo-pet", data: {action:"click->sounds#playDog"})],
                   ['1', (image_tag "blackCat 1.png", alt: "Cat", class:"photo-pet", data: {action:"click->sounds#playCat"})]
                  ], label_method: :second,
      value_method: :first %>
  </div>

  <div class="d-flex p-2 pet-form">
    <i class="fa-solid fa-paw p-2"></i>
    <h5 class="p-2 pr-4"> Choose a name: </h5>
    <div class="p-2 pet-name">
      <%= f.input :name,
        error: 'A name is mandatory, please specify one',
        input_html: { maxlength: 20, style: "border-radius: 20px; width: 400px;" } %>
    </div>
  </div>

  <div class="d-flex justify-content-around align-items-center py-5">
    <%= link_to "Back", shelters_path, class:"tertiary-button" %>
    <%= f.button :submit, class: "secondary-button" %>
  </div>
  <% end %>
</div>
</div>
