
<div>
  <div class="pet-name"><h2><%= @pet.name %></h2></div>
  <div class="pet-display">
    <div class="show-stats">
      <div class="status-item">
        <div id="satisfaction-circle" class="donut" style="<%="background: conic-gradient(#e45e05 #{@pet.satisfaction}%, rgba(255, 255, 255, 0.5) 0 100%);"%>">
          <div id="satisfaction-gap" class="donut__gap"><p align="center">Satisfaction <%=@pet.satisfaction%>%</p></div>
          </div>
        </div>

        <div class="status-item">
          <div class="donut" style="<%="background: conic-gradient(#D9D9D9 #{@pet.food_level}%, rgba(255, 255, 255, 0.5) 0 100%);"%>">
          <div class="donut__gap"><p align="center">Food Level <br><%=@pet.food_level%>%</p></div>
          </div>
        </div>

        <div class="status-item">
          <div class="donut" style="<%="background: conic-gradient(#D9D9D9 #{@pet.boredom}%, rgba(255, 255, 255, 0) 0 100%);"%>">
          <div class="donut__gap"><p align="center">Boredom <br><%=@pet.boredom%>%</p></div>
          </div>
        </div>

        <div class="status-item">
          <div class="donut" style="<%="background: conic-gradient(#D9D9D9 #{@pet.health}%, rgba(255, 255, 255, 0) 0 100%);"%>">
          <div class="donut__gap"><p align="center">Health <br><%=@pet.health%>%</p></div>
            </div>
        </div>
      </div>
    <div class="pet-image">
      <% if @pet.species == 'dog'%>
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/2c482328-02f3-40fd-8ac5-b7043be3fb2f/T8xThR2QCD.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
      <% elsif @pet.species == 'cat'%>
        <div class="cat-div">
          <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
          <dotlottie-player src="https://lottie.host/bb79c63e-1966-40f6-bc72-fa5e68cb0fca/t1pob5ccCQ.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        </div>
      <%end%>
    </div>
    <div class="pet-message">
      <p>
        <% if @pet.satisfaction == 100 %>
          It's great, I am happy!
        <% elsif @pet.satisfaction >= 75 %>
          I'm pretty content!
        <% elsif @pet.satisfaction >= 50 %>
          I'm okay, could be better.
        <% elsif @pet.satisfaction >= 25 %>
          I'm feeling a bit low.
        <% else %>
          I'm really sad, please cheer me up!
        <% end %>
      </p></div>
  </div>
  <div class="pet-actions-container" data-controller="donation">

    <div class="pet-actions">
        <button class="dog-food-icon" data-action="click->donation#openCards">
          <%= image_tag 'dog-food.jpg', class:"food-icon"%>
        </button>

        <button class="dog-toy-icon" data-action="click->donation#openCards">
          <%= image_tag 'dog-toy.png', class:"toy-icon"%>
        </button>

        <button class="dog-medical-icon" data-action="click->donation#openCards">
          <%= image_tag 'health-care.png', class:"health-icon"%>
        </button>
    </div>
    <div class="pet-item-actions">
      <div class="food-items">

        <div data-donation-target="foodItems" class="food-display d-none">

          <% @food_items.each do |item| %>

            <div class="card-product">
              <div class="card-product-infos">
                <h2> <%= item.name %> </h2>
                <p> Donate <strong><%= humanized_money_with_symbol(item.price) %> - </strong> <%= item.description %> </p>
                <% if item.price == 0 %>
                  <%= button_to 'Donate!', feed_pet_path(@pet), method: :post, class:"pet-show-button" %>
                <% else %>
                  <%= render 'pets/form', item: item, pet: @pet %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="toy-items">

        <div data-donation-target="toyItems" class="toy-display d-none">

          <% @toy_items.each do |item| %>

            <div class="card-product">
              <div class="card-product-infos">
                <h2> <%= item.name %> </h2>
                <p> Donate <strong> <%= humanized_money_with_symbol(item.price) %> - </strong> <%= item.description %> </p>
                <% if item.price == 0 %>
                  <%= button_to 'Donate!', play_pet_path(@pet), method: :post, class:"pet-show-button" %>
                <% else %>
                  <%= render 'pets/form', item: item, pet: @pet %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="medical-items">

        <div data-donation-target="medicalItems" class="health-display d-none">

          <% @medical_items.each do |item| %>

            <div class="card-product">
              <div class="card-product-infos">
                <h2> <%= item.name %> </h2>
                <p> Donate <strong> <%= humanized_money_with_symbol(item.price) %> - </strong> <%= item.description %> </p>
                <% if item.price == 0 %>
                  <%= button_to 'Donate!', care_pet_path(@pet), method: :post, class:"pet-show-button" %>
                <% else %>
                  <%= render 'pets/form', item: item, pet: @pet %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
