
<div class="pet-name"><h2><%= @pet.name %></h2></div>
<div class="pet-display">

  <div class="pet-image"><!--  add an image tag to display the pet's image --></div>


<div class="pet-status">

  <div class="status-item">
    <p>Satisfication</p>
    <div class="progress-circle" data-percentage="<%= @pet.satisfication %>"></div>
  </div>

  <div class="status-item">
    <p>Food Level</p>
    <div class="progress-circle" data-percentage="<%= @pet.food_level %>"></div>
  </div>

  <div class="status-item">
    <p>Boredom</p>
    <div class="progress-circle" data-percentage="<%= @pet.boredem %>"></div>
  </div>
</div>

<div class="message"> <p>Some message here</p></div>
</div>

<div class="pet-actions">
  <%= button_to 'Buy food', feed_pet_path(@pet), method: :post, class: "action-button" %>
  <%= button_to 'Buy a new toy', play_pet_path(@pet), method: :post, class: "action-button" %>
  <%= button_to 'Medical care', care_pet_path(@pet), method: :post, class: "action-button" %>
</div>
