<div class="d-flex flex-row p-3 chatroom-main-container">
  <div class="sidebar">
  <div class="d-flex flex-column sidebar-content p-4">
    <div class="sidebar-top">
      <h3 class="pb-3">Channels</h3>
      <% @chatrooms.each do |chatroom| %>
      <a href="<%= chatroom_path(chatroom) %>" class="btn btn-outline-dark btn-block mb-2"><%= chatroom.name %></a>
      <% end %>
    </div>

    <div class="d-flex justify-content-center align-items-end" data-controller="new-channel">
      <button data-action="click->new-channel#openModal" class="tertiary-button" style="transition: background-color 0.3s, border-color 0.3s;">
        New channel
      </button>
      <div data-new-channel-target="modal" id="creating_channel" class="d-none">
        <%= render "form_channel" %>
      </div>
    </div>
  </div>
</div>
  <div class="container chatroom messages-box" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <h1>#<%= @chatroom.name %></h1>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message], html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex  align-items-center"} do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}", wrapper_html: {class: "flex-grow-1  message-box"} %>
    <%= f.submit "Send", class: "secondary-button" %>
    <% end %>
  </div>
</div>
