<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
       <%= image_tag "LogoWhite.png", width: 300 %>
    </div>

    <div class="footer-section">
      <p class="footer-title"><strong>More information</strong><p>
      <ul>
        <li><%= link_to 'Map', shelters_path %></li>
        <li><%= link_to 'Our value proposition', root_path %></li>
        <li><%= link_to 'Join us', new_user_session_path %></li>
        <li><%= link_to 'Profile', dashboard_pages_path %></li>
      </ul>
    </div>

    <div class="footer-section">
      <p class="footer-title"><strong>Stay in contact</strong><p>
      <ul>
        <li><a href="mailto:info@contact.com">info@contact.com</a></li>
        <li><a href="tel:+34654654654">+34 654 654 654</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Wagon © 2024. All rights reserved</p>
    <ul>
      <li><%= link_to 'Privacy Policy'," #" %></li>
      <li><%= link_to 'Cookies', "#" %></li>
      <li><%= link_to 'Legal Advice', "#" %></li>
      <li><%= link_to 'FAQ', faqs_path %></li>
    </ul>
    <p>Made with ❤️ by the Furry Friend Team</p>
  </div>
</footer>
