<div class="container">
  <h1 class="title">Hey <%=@user.username%></h1>
  <div class="pet-stats">
    <div class="your-pet">
      <h2>Your pet</h2>
      <%= image_tag @user.picture_url, class:"pet-picture"%>
      <%= @pets.name%>
    </div>
    <div class="pet-status">
      <div class="status-item">
        <p>Satisfaction</p>
        <div class="progress-circle" data-percentage="<%=%>"></div>
      </div>

      <div class="status-item">
        <p>Food Level</p>
        <div class="progress-circle" data-percentage="<%= %>"></div>
      </div>

      <div class="status-item">
        <p>Boredom</p>
        <div class="progress-circle" data-percentage="<%=%>"></div>
      </div>

      <div class="status-item">
        <p>Health</p>
        <div class="progress-circle" data-percentage="<%= %>"></div>
      </div>
    </div>
</div>
  </div>
</div>
