<div class="container">
  <div class="register-container">
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class:"sign-up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <div class="register-buttons">
      <%= link_to "Not a member yet?", new_user_registration_path, class:"text-center text-decoration-none"%>
      <p class="text-center">Register with:</p>
      <div class="buttons-log">
        <button class="social-button google"><i class="fab fa-google"></i></button>
        <button class="social-button facebook"><i class="fab fa-facebook"></i></button>
        <button class="social-button apple"><i class="fab fa-apple"></i></button>
      </div>
  </div>
</div>
