<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to "Furry Friend", "#", class: "navbar-item" %>
  </div>

  <div class="navbar-menu">

      <div class="navbar-item">

        <%= form_with url: "#", method: :get, local: true do %>
         <!-- <%= text_field_tag :search, nil, placeholder: "&#xF002; Find the shelter", aria: { label: 'Search' } %>-->
               <input type="text" placeholder="&#xF002; Search" style="font-family: Arial, FontAwesome" />
<input type="text" placeholder="&#xf041; Country, city, or zip code &#xf14e; " style="font-family: Arial, FontAwesome" />
      <!-- <%= text_field_tag :location, nil, placeholder: '&#xF3C5 Country, city or zip code &#xF041', aria: { label: 'Location' } %> -->



       <%= button_tag type: 'submit', class: 'search-button' do %>
          Search

        <% end %>
        <% end %>
      </div>
      </div>
      <div class="navbar-item">

       <!-- <%= @shelter_count %> shelters-->
<%= link_to "Login", "#", class: "search-button" %>
      </div>






  </div>
</nav>
