<nav class="navbar">

<div>
  <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png", width: 264 %>
    <% end %>
</div>
  <div class="navbar-menu">


      <div class="navbar-item">

        <%= form_with url: "#", method: :get, local: true do %>
         <!-- <%= text_field_tag :search, nil, placeholder: "&#xF002; Find the shelter", aria: { label: 'Search' } %>-->
               <input type="text" placeholder="&#xF002; Search" style="border-radius: 20px; padding: 8px 16px; border: solid #e0dfdf 2px" />
<input type="text" placeholder="&#xF041  Country, city or zip code   " style="border-radius: 20px; padding: 8px 16px; border: solid #e0dfdf 2px" />
      <!-- <%= text_field_tag :location, nil, placeholder: '&#xF3C5 Country, city or zip code &#xF041', aria: { label: 'Location' } %> -->



       <%= button_tag type: 'submit', class: 'tertiary-button' do %>
          Search

        <% end %>
        <% end %>
      </div>
      </div>
      <div class="navbar-item">

       <!-- <%= @shelter_count %> shelters-->
<%= link_to "Login", "#", class: "secondary-button" %>
      </div>






  </div>
</nav>
