<!DOCTYPE html>
<html>
  <head>
    <title>FurryFriends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


  <div class="page-container">

  <div class="navbar-container"><%= render "layouts/navbar" %></div>
  <div class="content-container"><%= yield %></div>

  <br>
  <div class="footer-container"><%= render "layouts/footer" %></div>
  </body>
</html>
